server:
  tomcat:
    max-http-form-post-size: 256MB
    max-swallow-size: 256MB

spring:
  datasource:
    url: jdbc:mysql://ion-database-rds.czmtnxk070k4.ap-northeast-2.rds.amazonaws.com:3306/ion?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: admin
    password: IOn2025!
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 20
      idle-timeout: 600000
      connection-timeout: 30000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc.time_zone: Asia/Seoul

  # (MVC) 업로드 용량 제한
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 220MB
      file-size-threshold: 2MB

  # (WebFlux) 디코딩/멀티파트 버퍼
  codec:
    max-in-memory-size: 256MB
  webflux:
    multipart:
      max-in-memory-size: 256MB

logging:
  level:
    root: INFO
    org.springframework.boot.autoconfigure: INFO
    org.hibernate.SQL: INFO
    org.springframework.web.reactive.function.client: DEBUG

uploads:
  voice-dir: /var/app/uploads/voice

# ffmpeg 실행 경로 및 변환 타임아웃(서비스 코드 @Value 사용)
media:
  ffmpeg:
    path: /usr/bin/ffmpeg
  convert:
    timeoutSec: 120

analysis:
  python:
    baseUrl: http://10.0.1.91:9095
    connectTimeoutMs: 50000
    readTimeoutMs: 5000000

workbook:
  python:
    base-url-create: http://10.0.1.91:9096       # Workbook + Simulation 생성 서버
    base-url-feedback: http://10.0.1.91:9098    # Workbook Feedback + Simulation Feedback 서버
    connect-timeout-ms: 50000
    read-timeout-ms: 600000


chatbot:
  python:
    base-url: http://10.0.1.91:9097
    connect-timeout-ms: 5000
    read-timeout-ms: 600000

demo:
  enabled: true
  user-id: u001

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

